@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root{
    --main-color: #29ABB7;
    --second-color: #575757;
    --third-color: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--third-color);
    color: var(--second-color);
    font-family: 'Poppins', sans-serif;
}

#app{
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-title{
    font-size: 42px;
    font-family: 'Kalam', cursive;
    font-weight: 500;
    color: var(--main-color);
    margin: 0;
}

.simple-text{
    font-weight: 500;
    margin: 0;
}

section{
    padding: 20px 0;
    width: 85%;
    max-width: 1200px;
}

/* destinations */
.destinations__places{    
    position: relative;
    margin-top: 30px;
    width: 100%;    
    height: fit-content;
    display: flex;
    overflow-x: auto;
}

.destinations__places article{
    position: relative;
    width: calc(25% - 30px);
    min-width: calc(25% - 30px);
    height: 370px;
    background-color: green;
    border-radius: 7px;
    overflow: hidden;
}
.destinations__places article:not(:first-child){
    margin-left: 40px;
}

.destinations__places article .place__image{
    position: relative;
    width: 100%;
    height: 100%;
}
.destinations__places article .place__image::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 145px;
    opacity: 0.8;
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}
.destinations__places article .place__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destinations__places article .place__informations{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.destinations__places article .place_informations__location{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 10px;
}
.destinations__places article .place_informations__location svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.destinations__places article .place_informations__description{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--third-color);
    margin-bottom: 10px;
}

.destinations__places article .place_informations__score svg{
    width: 16px;
    height: 16px;
    margin-right: 3px;
    opacity: 0.5;
}
.destinations__places article .place_informations__score svg[data-visible="true"]{
    opacity: 1;
}