@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color: #29ABB7;
    --second-color: #575757;
    --third-color: #FFFFFF;
    --fourth-color: #000000;
    --font-size-1: 42px;
    --font-size-2: 22px;
    --font-size-3: 16px;
    --font-size-4: 14px;
    --font-size-5: 12px;
    --line-height-1: 50px;
    --line-height-2: 18px;
    --transition-func: cubic-bezier(.5,0,.5,1);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--third-color);
    color: var(--second-color);
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-4);
    line-height: var(--line-height-2);
}

#app{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

a{
    color: var(--main-color);
}

.content{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.7s cubic-bezier(.18,.53,.17,1);
}

.big-title{
    font-size: var(--font-size-1);
    font-family: 'Kalam', cursive;
    font-weight: 500;
    color: var(--main-color);
    margin: 0 0 15px 0;
    line-height: var(--line-height-1);
}

.simple-text{
    font-weight: 500;
    margin: 0;
}

section{
    margin-top: 40px;
    padding: 20px 0;
    width: 85%;
    max-width: 1200px;
    box-sizing: border-box;
}

.inner_section{
    width: 85%;
    max-width: 1200px;
}

.dblock{
    display: block;
}

.cta-button{
    display: inline-block;
    border-radius: 100px;
    padding: 15px 50px;
    border: 2px solid var(--main-color);
    font-size: var(--font-size-4);
    font-weight: 600;
    text-decoration: none;
    transform: translateY(0);
    transition: background-color 0.3s var(--transition-func), color 0.3s var(--transition-func), transform 0.3s var(--transition-func);
}
.cta-button:hover{
    background-color: var(--main-color);
    color: var(--third-color);
    transform: translateY(-7px);
}

/* cursors */
#cursors{
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 100vh;
}

#cursors > div{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    transform: translate(-50%, -50%);
}

.cursors__main{
    width: 15px;
    height: 15px;
    background-color: var(--main-color);    
    transition: transform 0.3s cubic-bezier(.18,.53,.17,1);
}

.cursors__second{
    width: 25px;
    height: 25px;
    border: 2px solid var(--main-color);
    transition: transform 0.5s cubic-bezier(.18,.53,.17,1);
}

/* loader */
#loader{    
    user-select: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
}
#loader::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 1;
}
#loader.complete{
    pointer-events: none;
}
#loader.complete::after{
    animation: 1.4s var(--transition-func) 0s 1 disappearLoaderAfter;
}
@keyframes disappearLoaderAfter { 
    0%{
        top: 100%;
    }
    40%{
        top: 0;
    }
    60%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}

.loader_content{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader_title{
    position: absolute;
    bottom: 10%;
    font-size: var(--font-size-2);
    color: var(--main-color);
}

.loader_animation{
    opacity: 0;
    transform: translateY(50px);
    position: relative;
    width: 250px;
    height: 250px;
    transition: transform 0.7s var(--transition-func), opacity 0.7s var(--transition-func);
}
.loader_animation.visible{
    opacity: 1;
    transform: translateY(0);
}
.loader_animation__pourcent{
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader_animation__pourcent::before{
    content: '';
    z-index: 0;
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    background: transparent;
    background: radial-gradient(circle, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 50%);
}
.loader_animation__pourcent > div{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 100%; 
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--main-color);
}
.loader_animation__pourcent > div > span{    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    opacity: 1;
    transition: top 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}
.loader_animation__pourcent > div > span > span{
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    animation: 0.5s ease 0s 1 appearPourcent;
}
.loader_animation__pourcent > div > span.hide{
    top: -100%;    
    opacity: 0;
    transform: translate(-50%, -10px) rotate(20deg);    
}
@keyframes appearPourcent { 
    0%{
        opacity: 0;
        transform: translateY(calc(100% + 10px)) rotate(-10deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}

.loader_animation__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    height: 85%;    
    animation: 20s linear infinite loaderRotateIcon;
}
.loader_animation__icon img{
    width: 100%;
    height: 100%;
}

@keyframes loaderRotateIcon {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}

.loader_animation__cercle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 704px;
    height: 704px;
}
.loader_animation__cercle svg{
    stroke: var(--main-color);
    width: 100%;
    height: 100%;
}
.loader_animation__plane{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 265px;
    height: 265px;
}
.loader_animation__plane svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    stroke: transparent;
    fill: var(--main-color);
}

/* destinations section */
.destinations__places{    
    position: relative;
    margin-top: 30px;
    width: 100%;    
    height: fit-content;
    display: flex;
    overflow-x: auto;
}

.destinations__places article{
    position: relative;
    width: calc(25% - 30px);
    min-width: calc(25% - 30px);
    height: 370px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}
.destinations__places article:not(:first-child){
    margin-left: 40px;
}

.destinations__places article .place__image{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinations__places article .place__image::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 145px;
    opacity: 0.8;
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}
.destinations__places article .place__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 0.5s var(--transition-func), height 0.5s var(--transition-func);
}
.destinations__places article:hover .place__image img{
    width: 110%;
    height: 110%;
}

.destinations__places article .place__informations{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.destinations__places article .place_informations__location{
    display: flex;
    align-items: center;
    font-size: var(--font-size-3);
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 10px;
}
.destinations__places article .place_informations__location svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.destinations__places article .place_informations__description{
    font-size: var(--font-size-5);
    font-weight: 400;
    line-height: var(--line-height-2);
    color: var(--third-color);
    margin-bottom: 10px;
    transition: margin-bottom 0.5s var(--transition-func);
}
.destinations__places article:hover .place_informations__description{
    margin-bottom: 20px;
}

.destinations__places article .place_informations__score svg{
    width: 16px;
    height: 16px;
    margin-right: 3px;
    opacity: 0.5;
}
.destinations__places article .place_informations__score svg[data-visible="true"]{
    opacity: 1;
}

/* description section */
.description__title h1,
.description__title p{
    text-align: center;
}

.description__benefits{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.description_benefits__text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.benefits_text__image{
    width: 100%;
}
.benefits_text__title{
    font-size: var(--font-size-4);
    font-weight: 600;
    color: var(--main-color);
    margin-top: 25px;
    margin-bottom: 10px;
}
.benefits_text__description{
    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: var(--line-height-2);
}

.description_benefits__list{
    width: 50%;
    padding-left: 70px;
    box-sizing: border-box;
}
.description_benefits__list ul{
    padding: 0;
    width: 100%;
}

.description_benefits__list li{
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}
.description_benefits__list li:not(:last-child){
    margin-bottom: 40px;
}

.description_benefits__list .benefits_list__icon{
    margin-right: 70px;
}
.description_benefits__list .benefits_list__icon svg{
    width: 75px;
    height: 75px;
}

.benefits_list__text{
    display: flex;
    flex-direction: column;
}
.benefits_list_text__title{
    font-size: var(--font-size-4);
    font-weight: 600;
    color: var(--main-color);
    margin-top: 25px;
    margin-bottom: 10px;
}
.benefits_list_text__description{
    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: var(--line-height-2);
}

/* quotation sections */
.section_quotation{
    margin-top: 200px;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.section_quotation::before{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;    
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}

.section_quotation .inner_section{
    display: flex;
}

.quotation__action{
    width: 50%;
    padding: 130px 0;    
}
.quotation__action .big-title{
    color: var(--third-color);
    max-width: calc(100% - 220px);
}
.quotation__action .quotation_action__description{
    display: block;
    color: var(--third-color);
    font-weight: 400;
    max-width: calc(100% - 240px);
}
.quotation__action .cta-button{
    margin-top: 30px;
    color: var(--third-color);
    border-color: var(--third-color);
}
.quotation__action .cta-button:hover{
    background-color: var(--third-color);
    color: var(--main-color);
}

.quotation__image{
    position: absolute;
    top: -160px;
    left: calc(50% - 160px);
    width: calc(50% + 160px);
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
    border-top: 9px solid var(--third-color);
    border-left: 9px solid var(--third-color);
    border-bottom: 9px solid var(--third-color);
}
.quotation__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quotation__cercles{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,10px);
    width: 250px;
    height: 250px;
}
.quotation__cercles svg{
    width: 100%;
    height: 100%;
}

/* myliste section */
.section_myliste{
    margin-bottom: 20px;
}

.myliste__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myliste__title p{
    text-align: center;
}
.myliste__title img{
    width: 160px;
    margin-bottom: 10px;
}

.myliste__list{
    margin-top: 40px;
    width: 100%;
}
.myliste__list ul{
    padding: 0;
    display: flex;
}
.myliste__list li{
    list-style: none;
    display: flex;
    align-items: center;
    width: calc(33.33% - 33.33px);
}
.myliste__list li:not(:first-child){
    margin-left: 50px;
}

.myliste__list .myliste_list__icon{
    margin-right: 10px;
}
.myliste__list .myliste_list__icon svg{
    width: 110px;
    height: 110px;
}

.myliste_list__text{
    display: flex;
    flex-direction: column;
}
.myliste_list_text__title{
    font-size: var(--font-size-2);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    margin-bottom: 10px;
}
.myliste_list_text__description{
    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: var(--line-height-2);
}

.myliste__action{
    margin-top: 40px;    
    width: 100%;
    display: flex;
    justify-content: center;
}

.myliste__action a{
    color: var(--second-color);
}